@media (max-width:991px) {
 
    .logo{
        width: 23% ;
    }
    .navbar .container{
        width: 85%;
    }
    /* header*/
    .header-content{
        padding: 50px;
    }
    .item{
        width: 48%;
        margin-bottom: 10px;

    }
    .product{
        width:33%;
    }
}
/* حتى تعمل الايقونه عند هذه الشاشات */
@media (max-width:767px) {
   .fa-bars{
    display: unset;
}
.list , .navbar .button{
    display: none;
}
.logo .icon{
width: 50%;
}
.icon{
    text-align: right;
}
.header-content , .header-img{
    float: none;
    width: 100%;
}
.header-content{
    padding-left: 0;
}
h1{
    font-size: 23px;
}
.product{
    width:50%;
}
}
@media (max-width:567px) {
    .item{
       float: none;
        width: 100%;
        margin-bottom: 10px;

    }
    .product{
        float: none;
        width:100%;
    }
    .container{
        width: 95%;
    }
}